<!-- FILEPATH: /Users/takahirokamio/code/kanji_cam/app/views/dashboards/index.html.erb -->
<%# <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> %>
<%= render 'partials/title_bar', destination: root_url, title: "Dashboard" %>
<div class="container">
  <%# <div class="d-flex justify-content-between align-items-center mt-5 gap-2">
    <div class="col-8">
      <%= link_to 'Study Kanji Flashcards', decks_path, class: 'fs-5 page-btn' %>
    <%# </div> %>
    <%# <div class="col fs-3"> %>
      <%# <div class="text-center points-display" style="height: 48px;"><%= @points <i class="fa-solid fa-gem"></i></div> %>

<div class="mt-4 d-flex justify-content-end">
<div class="bg-primary px-2 py-1 col-3 col-md-2 col-lg-1 text-center text-white" style="border-radius: 16px"><%= @points %> <i class="fa-solid fa-gem p-0 text-white"></i></div>
</div>
  <div class="box mt-3">
    <%= link_to 'Study Kanji Flashcards', decks_path, class: 'col-12 fs-5 btn btn-primary' %>
  </div>

  <div class="box mt-3">
    <!-- Adjusted due to "special" hidden kanji -->
    <% total_kanji = @total_kanji - 1 %>

    <% captured_fraction = " (#{@total_captured_kanji} / #{total_kanji})" %>
    <h3>
      Kanji Collected
      <span class="fs-5">
        <%= captured_fraction %>
      </span>
      <%= render 'partials/qa_button', topic: "standard_kanji" %>
    </h3>

    <div class="progress my-progress-bar">

      <div  class="progress-bar my-progress-bar-value"
            role="progressbar"
            style="width: <%= (@total_captured_kanji.to_f / total_kanji * 100).round(2) %>%;"
            aria-valuenow="<%= @total_captured_kanji %>"
            aria-valuemin="0" aria-valuemax="<%= total_kanji %>">
            <!--
            <%= @total_captured_kanji %> / <%= total_kanji %>
            -->

      </div>

    </div>

    <br>

    <% learned_fraction = " (#{@total_learned_kanji} / #{@total_captured_kanji})" %>
    <h3>
      Kanji Learned
      <span class="fs-5">
        <%= learned_fraction %>
      </span>
      <%= render 'partials/qa_button', topic: "learning_progress" %>
    </h3>

    <div class="progress my-progress-bar">

      <div  class="progress-bar my-progress-bar-value"
            role="progressbar"
            style="width: <%= (@total_learned_kanji.to_f / @total_captured_kanji * 100).round(2) %>%;"
            aria-valuenow="<%= @total_learned_kanji %>"
            aria-valuemin="0"
            aria-valuemax="<%= @total_captured_kanji %>">

      </div>

    </div>
  </div>

  <div class="box mt-3">
    <h3>Kanji Collected by JLPT Level</h3>
    <%= pie_chart @learned_kanji_by_jlpt,
                id: "jlpt_kanji_distribution",
                height: "250px",
                library: {
                  legend: { position: 'top' },
                  tooltip: { enabled: true },
                  plotOptions: {
                    pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                      }
                    }
                  }
                } %>
  </div>
</div>
<!--
<div class="container mt-4">
  <div class="row">
    <% if @decks.present? %>
      <% @decks.each do |deck| %>
        <%= link_to deck_path(deck), class: "col-md-4 mb-4 d-block text-decoration-none" do %>
          <div class="card p-3 box">
            <div class="card-body">
              <h5 class="card-title"><%= deck.title %></h5>
              <p class="card-text"><%= deck.comment.presence || "No description available" %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>No decks found.</p>
    <% end %>
  </div>
</div>
-->
