<%= render 'partials/title_bar', destination: dashboard_url, title: "Kanji for All Users" %>
<div class="map-container mt-3">
  <%# <div class="map-bg box p-2"> %>
    <div class="map-buttons d-flex">
    <%= link_to "My Map", maps_path, class: 'btn3d btn-primary text-white' %>
    <button disabled class="btn3d btn-primary text-white">Global Map</button>
    </div>
    <p class="top-message d-flex align-items-center px-3 text-center"><%= @cards.count %> kanji collected</p>

    <div class="map mx-auto mb-2"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <%# </div> %>
</div>
