<%= render 'partials/title_bar', destination: dashboard_url, title: "Kanji for All Users" %>
<%# <div class="container"> %>
<div class="d-flex mt-4">
    <%= link_to "My Map", maps_path, class: 'tab-label py-2 px-3' %>
    <div class="tab-label py-2 px-3">Global Map</div>
    </div>
  <%# <div class="map-bg bg-white p-2"> %>
    <p class="text-center mb-1"><%= @cards.count %> kanji collected on our app</p>
    <div class="map mx-auto mb-2"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <%# </div>
</div> %>
