<style>
  body {
    background-color: black;
    overflow: hidden;
  }
</style>

<%= render 'partials/title_bar', destination: dashboard_url, title: "My Kanji Map" %>

<div class="map-container">
  <%# <div class="map-bg box p-2"> %>
  <div class="top-element-container">

    <div class="tab-button-container d-flex justify-content-between">

      <button class="text-white tab-button yellow slide-left">
        <i class="fa-solid fa-user"></i> My Map
      </button>

      <%= link_to all_kanji_map_path, class: 'fade-in text-white tab-button transparent' do %>
        Global Map <i class="fa-solid fa-globe"></i>
      <% end %>

    </div>

    <p class="top-message pb-2 d-flex align-items-center px-3 text-center">
      Displaying <%= @cards_with_position.count %> of <%= @cards.count %> Kanji
    </p>
  </div>

  <div class="map mx-auto"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
