<%= render 'partials/title_bar', destination: dashboard_url, title: "My Kanji Map" %>
<div class="map-container mt-3">

  <%# <div class="map-bg box justify-content-center mt-4 p-2"> %>
  <div class="tab-buttons d-flex">
    <button class="text-white">My Map</button>
    <%= link_to "Global Map", all_kanji_map_path, class: 'text-white' %>
    </div>
    <%# </div> %>
    <%# <div class="top-message bg-white d-flex align-items-center px-3 py-2"> %>
    <%# if user found 0 kanji %>
  <%# "Go find some kanji!"" %>
  <p class="top-message d-flex align-items-center px-3 text-center"><% if @cards_with_position.count == 0 %><%= "No kanji to show" %>
      <%# if user found some kanji, but no location is available %>
      <%# "No location available" %>
    <% elsif @cards_with_position == 0 %>
      <%= "No location data is available" %>
      <%# if user found some kanji, but some cards' location are missing %>
      <%# xx positions are available %>
    <% else %><%= "Displaying" %> <%= @cards_with_position.count %> of <%= @cards.count %> <%= "kanji" %>
    <% end %></p>


    <div class="map mx-auto"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
<%# </div> %>
