<%= render 'partials/title_bar', destination: dashboard_url, title: "My Kanji Map" %>
<div class="container">

  <div class="map-bg box justify-content-center mt-4 p-2">
    <button disabled class="btn3d btn-primary text-white">My Map</button>
    <%= link_to "Global Map", all_kanji_map_path, class: 'btn3d btn-primary text-white' %>
  <%# if user found 0 kanji %>
  <%# "Go find some kanji!"" %>
  <p class="text-center mb-1"><% if @cards.count == 0 %><%= "No kanji to show" %>
      <%# if user found some kanji, but no location is available %>
      <%# "No location available" %>
    <% elsif @cards.select { |card| card.longitude.present? && card.latitude.present? }.count == 0 %>
      <%= "No location data is available" %>
      <%# if user found some kanji, but some cards' location are missing %>
      <%# xx positions are available %>
    <% else %><%= "Displaying" %> <%= @cards.count %> of <%= @cards.select { |card| card.longitude.present? && card.latitude.present? }.count %> <%= "kanji" %>
    <% end %></p>
    <%# Please advise me good wording... the following will redirect to all user's kanji map %>
    <div class="map mx-auto mb-2"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
