<%# This prevents the navbar from overlapping and hiding the bottom of a page. %>
<div style="height: 15vmin;"></div>

<div id="navbar" class="navbar fixed-bottom d-flex flex-nowrap justify-content-around rounded">
  <%= link_to dashboard_path, class: active_page?([dashboard_path]) do %>
    <%= render partial: "partials/navbar_icons/nav_home", class: "navbar-icon"%>
  <% end %>

  <%= link_to cards_path, class: active_page?([cards_path, card_path(@card || 0)]) do %>
    <%= render partial: "partials/navbar_icons/nav_cards", class: "navbar-icon"%>
  <% end %>

  <%= link_to capture_path, class: active_page?([capture_path]) do %>
    <%= render partial: "partials/navbar_icons/nav_camera", class: "navbar-icon"%>
  <% end %>

  <%= link_to maps_path, class: active_page?([maps_path, all_kanji_map_path]) do %>
    <%= render partial: "partials/navbar_icons/nav_map", class: "navbar-icon"%>
  <% end %>

  <%= link_to settings_url, class: active_page?([settings_url]) do %>
    <%= render partial: "partials/navbar_icons/nav_settings", class: "navbar-icon"%>
  <% end %>

  <!--<div class="bg-primary w-100 text-center border">Home</div>
  <div class="bg-primary w-100 text-center border">Camera</div>
  <div class="bg-primary w-100 text-center border">Cards</div>
  <div class="bg-primary w-100 text-center border">Map</div> -->
</div>
