<div class="navbar bg-white fixed-bottom d-flex flex-nowrap justify-content-around">
  <%= link_to dashboard_path do %>
    <%= image_tag "navbar_icons/nav_home.svg", class: "navbar-icon"%>
  <% end %>

  <%= link_to cards_path do %>
    <%= image_tag "navbar_icons/nav_cards.svg", class: "navbar-icon"%>
  <% end %>

  <%# link_to new_card_path do %>
    <%= image_tag "navbar_icons/nav_camera.svg", class: "navbar-icon"%>
  <%# end %>

  <%# link_to dashboard_path do %>
    <%= image_tag "navbar_icons/nav_map.svg", class: "navbar-icon"%>
  <%# end %>

  <%# link_to dashboard_path do %>
    <%= image_tag "navbar_icons/nav_settings.svg", class: "navbar-icon"%>
  <%# end %>

  <!--<div class="bg-primary w-100 text-center border">Home</div>
  <div class="bg-primary w-100 text-center border">Camera</div>
  <div class="bg-primary w-100 text-center border">Cards</div>
  <div class="bg-primary w-100 text-center border">Map</div> -->
</div>
