<%= render 'partials/card_show_title' %>

<div class="container d-flex flex-column align-items-center">

  <!-- Display a special message / animation for new kanji-->
  <% if @card.created_at >= 5.seconds.ago %>

    <script src="/kanji-rain/kanji-rain.js"></script>

    <div class="mt-3 col-12 d-flex justify-content-center" data-controller="confetti">
      <div class="text-center rounded-4 bg-success fs-1 text-white col-12 py-2">
        You earned 100 points!
      </div>
    </div>

  <% end %>

  <div class="post-it-note-form post-it-wiggle col-12 mb-2" style="margin-top: 3rem;">
  <%# <div class="post-it-note post-it-wiggle col-12 mt-4 mb-2"> %> <!-- Vincent's changes -->

    <div class="d-flex">
      <h3 class="fs-5">Notes:</h3>
    <!--
      <%= link_to edit_card_path(@card) do %>
        <%= image_tag 'ui_icons/edit_icon.svg', style: "position: absolute; top: 10px; right: 10px; width: 27px; height: 27px;" %>
      <% end %>
    -->
    </div>
    <div class="mx-0 fs-4">
      <%= simple_form_for [@card] do |f| %>
        <%# TODO: Add image upload. %>
        <%= f.input :comment, label: false, input_html: { style: 'background-color: white;' } %>
        <div class="d-flex justify-content-around">
          <%= f.button :submit, "Update", class: "rounded-pill btn btn-primary text-shadow text-white col-5" %>
          <%= link_to 'Cancel', card_path(@card), class: "rounded-pill btn btn-danger text-shadow text-white col-5"%>
        </div>
      <% end %>
      <%# @card.comment %>
    </div>
  </div>

  <%= render 'partials/kanji_info' %>

</div>
