<%= render 'partials/title_bar', destination: dashboard_url, title: "My Kanji Collection" %>

<div class="container d-flex flex-column">
  <div class="row justify-content-center mt-5">
    <div>
      <h2 class="dented-box"><strong><%= @cards.length %></strong> <small>collected</small></h2>
    </div>
    <% @cards.each do |card| %>
      <%# card_kanji = KanjiData.new(card.kanji.id) %>
      <% button_styles = "user-select-none temp-fix d-flex flex-column align-items-center justify-content-center col-4 col-md-3 custom-card m-1" %>

      <%= link_to card_path(card), class: button_styles, style: "text-decoration: none;" do %>

        <div class="position-relative">
          <!-- <div class="big-kanji"><%= card.kanji.character %></div> -->
          <%# image_tag "kanji_image.png", class: "card-img-top py-1 justify-content-center"%>
        </div>

        <div class="kanji-badge d-flex flex-column align-items-center justify-content-center my-1">

          <!-- Checks the character saved on the card instance -->
          <span class="text-center fs-1"><%= card.character %></span>
          <span class="text-center"><%= card.kanji.meanings.first %></span>
        </div>

      <% end %>
    <% end %>
  </div>
</div>
