<%= render 'partials/title_bar', destination: dashboard_url, title: "My Kanji Collection" %>

<%# based on amazon jlpt texts
$jlpt0: #F4F4F4;
$jlpt1: #90cf85;
$jlpt2: #f08e9a;
$jlpt3: #5eaecb;
$jlpt4: #f0ad71;
$jlpt5: #8276c0; %>

<div class="container d-flex flex-column">
  <div class="row justify-content-center mt-3">
    <%# <div> %>
      <h2 class="mt-3" style="margin-left: 100px;"><strong><%= @cards.length %></strong> <small>collected</small></h2>
    <%# </div> %>
    <div class="d-flex justify-content-center align-items-center">
    <div class="py-0 px-2 m-1" style="background-color: #F4F4F4; border-radius: 8px;"><p class="mb-0" style="font-size: 14px">non-JLPT</p></div>
    <div class="py-0 px-2 m-1" style="background-color: #b0d1aa; border-radius: 8px;"><p class="mb-0" style="font-size: 14px">N1</p></div>
    <div class="py-0 px-2 m-1" style="background-color: #f3c2c8; border-radius: 8px;"><p class="mb-0" style="font-size: 14px">N2</p></div>
    <div class="py-0 px-2 m-1" style="background-color: #8bb5c4; border-radius: 8px;"><p class="mb-0" style="font-size: 14px">N3</p></div>
    <div class="py-0 px-2 m-1" style="background-color: #f1ccaa; border-radius: 8px;"><p class="mb-0" style="font-size: 14px">N4</p></div>
    <div class="py-0 px-2 m-1" style="background-color: #bcb4e3; border-radius: 8px;"><p class="mb-0" style="font-size: 14px">N5</p></div>
    </div>

    <%# if one of the above button is clicked, display only certain JLPT type kanji %>

    <% @cards.each do |card| %>
      <%# card_kanji = KanjiData.new(card.kanji.id) %>
      <% bg_color_jlpt = ["#F4F4F4", "#b0d1aa", "#f3c2c8", "#8bb5c4", "#f1ccaa", "#bcb4e3"] %>
      <%# <% button_styles = "user-select-none temp-fix d-flex flex-column align-items-center justify-content-center col-4 col-md-3 custom-card m-1" style="background-color: #{bg_color_jlpt[card.kanji.jlpt]};" %>
      <% button_styles = "user-select-none temp-fix d-flex flex-column align-items-center justify-content-center col-4 col-md-3 custom-card m-1" %>

      <%= link_to card_path(card), class: button_styles, style: "text-decoration: none; background-color: #{bg_color_jlpt[card.kanji.jlpt]};" do %>

        <div class="position-relative">
          <!-- <div class="big-kanji"><%= card.kanji.character %></div> -->
          <%# image_tag "kanji_image.png", class: "card-img-top py-1 justify-content-center"%>
        </div>

        <div class="kanji-badge d-flex flex-column align-items-center justify-content-center my-1 font-color">

          <!-- Checks the character saved on the card instance -->
          <span class="text-center fs-1" style="color: #31353b;"><%= card.character %></span>
          <span class="text-center" style="color: #31353b;"><%= card.kanji.meanings.first %></span>
        </div>

      <% end %>
    <% end %>
  </div>
  </div>
</div>
