<div class="d-flex">
  <%= link_to dashboard_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-circle-chevron-left me-2"></i>
  <% end %>
  <h1 class="text-center">My Collection</h1>
</div>
<div class="container d-flex flex-column">
  <div class="row justify-content-center mt-5">
    <div>
      <h2><strong><%= @cards.length %></strong> <small>collected</small></h2>
    </div>
    <% @cards.each do |card| %>
      <% card_kanji = KanjiData.new(card.kanji.id) %>
      <div class="temp-fix d-flex flex-column align-items-center justify-content-center col-4 col-md-3 custom-card m-1 pt-1 px-2">
        <%= link_to card_path(card), style: "text-decoration: none;" do %>
            <div class="position-relative">
              <!-- <div class="big-kanji"><%= card.kanji.character %></div> -->
              <%# image_tag "kanji_image.png", class: "card-img-top py-1 justify-content-center"%>
            </div>
            <div class="kanji-badge d-flex flex-column align-items-center justify-content-center my-1 font-color">
              <span class="text-center fs-1"><%= card_kanji.character %></span>
              <span class="text-center"><%= card_kanji.meaning_list.first %></span>
              <span class="text-center"><%= card_kanji.on_reading_list.first %></span>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
