<%= render 'partials/card_show_title' %>

<div class="container">

  <div class="default-card col-sm-12 mt-4 position-relative">
    <%= link_to edit_card_path(@card) do %>
      <%= image_tag 'ui_icons/edit_icon.svg', style: "position: absolute; top: 10px; right: 10px; width: 27px; height: 27px;" %>
    <% end %>
    <h3>Notes:</h3>
    <div class="mx-5 fs-4">
      <%= @card.comment %>
    </div>
  </div>

  <%= render 'partials/kanji_info' %>
</div>

<div class="container text-center mt-3">
  <%= link_to "Delete this card",
    card_path(@card),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-primary' %>
</div>
