<%= render 'partials/card_show_title' %>

<div class="container d-flex flex-column align-items-center">

  <!-- Code to handle duplicate Card -->
  <% if params[:duplicate] == "true" %>
    <div class="mt-3 col-12 d-flex justify-content-center">
      <div class="text-center rounded-4 bg-info fs-4 text-white col-12 py-2">
        You've already found this kanji.
      </div>
    </div>
  <% end %>


  <div id="note-section" class="mt-3 col-12">
    <!-- Hide note if absent. -->
    <% unless @card.comment.nil? || @card.comment == "" %>

      <div class="post-it-note post-it-wiggle col-12 mb-2 mt-4">
        <div class="d-flex">
          <h3 class="fs-5">Notes:</h3>
          <%= link_to edit_card_path(@card) do %>
            <%= image_tag 'ui_icons/edit_icon.svg', style: "position: absolute; top: 10px; right: 10px; width: 27px; height: 27px;" %>
          <% end %>
        </div>
        <div class="mx-5 fs-4">
          <%= @card.comment %>
        </div>
      </div>

    <% end %>
    <%# Add Note button if note is hidden. %>
    <!-- Moved to kanji_info partial -->

  </div>

  <%= render 'partials/kanji_info' %>

  <div class="container text-center mt-3 mb-3">
    <%= link_to card_path(@card),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fa-solid fa-trash-can"></i>
      <% end %>
  </div>
</div>
