<%= render 'partials/title_bar', destination: dashboard_url, title: "My Flashcard Decks" %>

<div class="container mt-4">


  <% unlearned_kanji = current_user.cards.count - current_user.cards.where(learned: true).joins(:kanji).distinct.count %>

  <div class="badge bg-danger fs-6 p-2 col-12 mt-2">
    You have <%= unlearned_kanji %> unlearned kanji.
  </div>

  <div class="my-3 box mb-4">
    <%= link_to deck_path(@master_deck), class: 'btn-deck-wrapper text-white' do %>
      <div class="p-3 test-btn text-center">
        Study All Unlearned Kanji
      </div>
    <% end %>
  </div>

</div>

<div class="accordion accordion-flush" id="accordionFlushExample">

  <div class="accordion-item">
    <h2 class="accordion-header">

      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Study by JLPT Level
      </button>

    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="">

        <% @jlpt_decks.each do |jlpt_deck| %>
          <%= link_to deck_path(jlpt_deck), class: 'btn-deck-wrapper' do %>
            <% jlpt_level = jlpt_deck.title.match(/\d{1}/)[0] %>
            <% button_classes = "btn-deck n#{jlpt_level}-gradient" %>
            <div class="<%= button_classes %>">
              <span class="btn-deck-text">
                <%= "#{jlpt_deck.title} Kanji" %>
              </span>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">

      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        My Custom Decks
      </button>

    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="">

        <% @custom_decks.each do |custom_deck| %>
          <%= link_to deck_path(custom_deck), class: 'btn-deck-wrapper' do %>
            <div class="btn-deck n0-gradient">
              <%= "#{custom_deck.title} | #{custom_deck.comment}" %>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

</div>

<div class="box-end" style="border-radius: 0px;">
  <%= link_to 'Reset Flashcards', reset_learned_url %>
</div>
<!--
<div class="container">

  <div class="row">
    <% @custom_decks.each do |deck| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= deck.title %></h5>
            <p class="card-text"><%= deck.comment %></p>
            <%= link_to 'Study this Deck', deck_path(deck), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <h2 class="toggle-heading">
    <a href="#" class="toggle-link" data-bs-toggle="collapse" data-bs-target="#masterDeck" aria-expanded="true" aria-controls="masterDeck">
      Master Deck <i class="bi bi-chevron-up toggle-indicator"></i>
    </a>
  </h2>
  <div class="collapse show" id="masterDeck">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= @master_deck.title %></h5>
            <p class="card-text"><%= @master_deck.comment %></p>
            <%= link_to 'Study this Deck', deck_path(@master_deck), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="toggle-heading">
    <a href="#" class="toggle-link" data-bs-toggle="collapse" data-bs-target="#jlptdeck" aria-expanded="true" aria-controls="jlptdeck">
      JLPT Deck <i class="bi bi-chevron-up toggle-indicator"></i>
    </a>
  </h2>
  <div class="collapse show" id="jlptdeck">
    <div class="row">
      <% @jlpt_decks.each do |jlpt_deck| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h5 class="card-title"><%= jlpt_deck.title %></h5>
              <p class="card-text"><%= jlpt_deck.comment %></p>
              <%= link_to 'Study this Deck', deck_path(jlpt_deck), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

  -->
