<%# The gsub erases the word "Deck" if it occurs at the end of the title to avoid duplication %>
<% title_bar_title = "#{@deck.title.gsub(/ deck[ ]?$/i, "")} Deck" %>
<br>
<%= render 'partials/title_bar', destination: decks_url, title: title_bar_title %>
<!-- style="height: calc(100vh - 2rem);" -->
<div class="content-wrapper mt-2">
  <div class="content-wrapper mt-2" style="height: calc(100vh - 2rem);">
    <% if @card.nil? %>
      <div style="height: 70vh;" class="container d-flex flex-column justify-content-center align-items-center">
        <div class="mb-3 badge fs-2 bg-success">
          All finished!
        </div>
        <br>
        <br>
        <div style="background-color: #f0f0f0; padding: 20px; border-radius: 10px;">
          <h2><%= @deck.title %></h2>
          <br>
          <br>
          <div data-controller="flashcard">
            <h2 data-flashcard-target="points" data-points="<%= session[:session_points] %>">+ 0p</h2>
              <br>
              <p>🎴You learned <%= session[:total_cards] %> Kanji</p>
              <p>💰Total: <%= @user_points %>p</p>
            </div>
          </div>
          <%= button_to decks_url, method: :get, class: "mt-5 btn btn-primary text-white" do %>
            See all decks
          <% end %>
          <br>
          <br>
          <br>
        </div>
      <% else %>
        <div class="badge bg-info mb-3 fs-4">
          <%= "#{@unlearned_cards.count} Cards Remaining" %>
        </div>
        <div class="card-container">
          <div class="flashcard">
            <div class="card-front card-side">
              <h1 class="kanji-character"><%= @card.character %></h1>
            </div>
            <div class="card-back card-side d-flex justify-content-center align-items-center" style="height: 100%;">
              <div class="card bg-light container-fluid">
              <div class="card-body text-center">
                <h5 class="card-title">Meanings</h5>
                <p class="card-text"><%= @card.kanji.meanings.join(', ') %></p>
                <h5 class="card-title">On Reading</h5>
                <p class="card-text"><%= @card.kanji.on_readings.join(', ') %></p>
                <h5 class="card-title">Kun Reading</h5>
                <p class="card-text"><%= @card.kanji.kun_readings.join(', ') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="progress my-progress-bar" style="width: 260px;">
        <% progress_percentage = (session[:learned_cards].to_f / session[:total_cards] * 100).round(2) %>
        <div  class="progress-bar my-progress-bar-value"
              role="progressbar"
              style="width: <%= progress_percentage %>%;"
              aria-valuenow="<%= progress_percentage %>"
              aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>


      <div class="btn-group mt-3" role="group" aria-label="Recall Level Buttons" style="width: 260px;">
        <div class="btn-margin-right" style="width: 33.33%;">
          <%= button_to learn_card_deck_path(@deck), method: :patch, class: 'text-white btn-3d flashcard-green-btn btn-fixed-size', params: { current_card_id: @card.id, recall_level: 'easy' } do %>
            <i class="fa-solid fa-check fs-4"></i>
          <% end %>
        </div>
        <div class="btn-margin-right" style="width: 33.33%;">
          <%= button_to learn_card_deck_path(@deck), method: :patch, class: 'text-white btn-3d flashcard-yellow-btn btn-fixed-size', params: { current_card_id: @card.id, recall_level: 'medium' } do %>
            <i class="fa-solid fa-caret-up" style="font-size: 30px;"></i>
          <% end %>
        </div>
        <div style="width: 33.33%;">
          <%= button_to learn_card_deck_path(@deck), method: :patch, class: 'text-white btn-3d flashcard-red-btn btn-fixed-size', params: { current_card_id: @card.id, recall_level: 'hard' } do %>
            <i class="fa-solid fa-xmark fs-4"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
