<!DOCTYPE html>
<html>
  <head>
    <title>KanjiCam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'application/favicon' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: $bg-color; position: relative;">

    <%# render 'shared/flashes' %>

    <div id="rain-box"></div>
    <div id="rain-filter"></div>

    <%= yield %>

    <% unless current_page?(root_path) %>
      <%= render 'partials/navbar' %>
    <% end %>
    <%# <script src="/kanji-rain/kanji-rain.js"></script> %>
  </body>
</html>

<%# Tiger's memo: haven't finalized the background yet %>
<%# style="background-image: url('#'); position: relative;" %>
<%# "background-image: linear-gradient(to bottom, #eeaeca, #94bbe9); position: relative;" %>
