<!DOCTYPE html>
<html>
  <head>
    <title>KanjiCam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #cccccc; position: relative;">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%# <div id="bg-filter"></div> %>
    <div id="rain-box"></div>
    <div id="rain-filter"></div>

    <%= yield %>
    <script src="/kanji-rain/kanji-rain.js"></script>
  </body>
</html>
